.DS_Store
node_modules
dist

vendor/

# local config files
.env.local
.env.*.local
development/cert
app-id.json

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode/*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
