.DS_Store
node_modules
dist

vendor/

# local config files
.env.local
.env.*.local
development/cert

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode/
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Sentry Config File
.env.sentry-build-plugin
